@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600&family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Oswald:wght@300;400;600&family=Roboto+Condensed&display=swap');

html {
    font-family: 'Oswald';
    font-size: 15px;
    font-weight: bold;
    color : black;
}
body {
    height: 100%;
    width: 100%;
    margin: 0%;
    overflow-x: hidden;
}

#backg1{
    background-repeat: no-repeat;
    background-size: cover;
    transition: 1s;   
}
#backg2{
    background-repeat: no-repeat;
    background-size: cover;
    transition: 1s;   
}
#backg3{
    background-repeat: no-repeat;
    background-size: cover;
    transition: 1s;   
}
#backg4{
    background-repeat: no-repeat;
    background-size: cover;
    transition: 1s;   
}
section {
    height: 100vh;
    width: 100vw;
    margin: 0%;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: 'Archivo Black';
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    padding: 2.5rem;
    color: black;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #02033B;
}

h3 {
    text-align: center;
    font-style: 'Oswald';
    font-style: bold;
    font-size: 28px;
    color:black;
    margin: 0;
    justify-content: center;
}
h2 {
    position: absolute;
    text-align: center;
    font-style: 'Oswald';
    font-style: bold;
    font-size: 28px;
    color:black;
    margin: 1000, 150, 1000auto;
    text-indent: 550px;
}

button {
    display: flex;
    background-color:  #0077B6;
    border-radius: 10px;
    border: 4px;
    text-align: center;
    font-size: 20px;
    padding: 15px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5% auto;
    opacity: 0.75;
}
.rectangle {
    width  : 600px;
    height : 570px;
    margin: 5% auto;
    background :linear-gradient(#0077B6,#00B4D8,#90E0EF,#CAF0F8);
    border-radius: 10%;
    
}

.compteur {
    width : 350px;
    height : 230px;
    margin : 5% auto;
    background :linear-gradient(#CAF0F8,#90E0EF,#00B4D8);
    border-radius: 10%;
    border : solid black;
}

.compteur p {
    color : black;
    text-align: center;
    padding: 2%;
    font-family: 'Oswald';
    font-weight: bold;
}

.terre {
    width: 550px;
    height:220px;
    margin: 10% auto;
    border: solid black;
    background: url(nappe-phreatique.jpg);
    background-size: cover;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    overflow: hidden;
    
}

.herbe {
    width: 550px;
    height: 10px;
    margin: auto;
    background:url(herbe.jpg);
    background-size: cover;
}

.humus {
    width: 550px;
    height: 18px;
    margin: 0% auto ;
    background: url(humus.jpg);
    background-size: cover;
}

.sol {
    width: 550px;
    height: 45px;
    margin: 0% auto;
    background: url(roche-mère.jpg);
    background-size: cover;
}

.nappe {
    width: 550px;
    height: 151px;
    margin: 0% auto;
    margin-bottom: 0%;
    border-bottom-left-radius: 27%;
    border-bottom-right-radius: 27%;
    background: url(wave.jpg);
    background-size: 550px 149px;
    background-repeat: repeat-x;
    animation: flow 20s linear infinite;
}

@keyframes flow {
    0% {
        background-position: -1200px 15px;
    }
    100% {
        background-position: 550px 162px;
    }
}
.drop{
  width: 90px;
  height: 90px;
    background:linear-gradient(rgb(74, 74, 204) ,#00B4D8) ;
  border-radius: 50% ;
  border: 5px solid #fff;
  border-top-right-radius: 0%;
  transform: rotate(-45deg);
  margin-top: 50px;
  margin-left: 20px;

}
.cont-gouttes{
display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-100px);
  margin: -3% auto;
  
}
#myChart{
  background-color:lightgrey;
  margin: 15% auto 5%;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid black;
}

h4 {
    position: absolute;
    text-align: center;
    font-style: 'Oswald';
    font-style: bold;
    font-size: 28px;
    color:black;
   
    text-indent: 450px;
}

#graphe-nappe{
    background: url(villeurbanne.jpg);
    color : black;
    border: solid black;
    margin: 7% auto;
    width: 1100px;
    height: 500px;
}
